.sidebar {
  padding-top: 2%;
  height: 100%;
  width: 300px;
  border-right: 1px solid rgb(36, 34, 34);
  position:relative;
}

  
  .sidebarItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .items {
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .img {
    height: 40px;
    width: 40px;
    padding-left: 21%;
  }
  .sidebarLink {
    text-decoration: none;
    color: inherit;
  }
  

  

  

  
  .icondiv {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 20%;
  }
  
  .icon {
    color: white;
  }
  
  .text {
    color: white;
    margin-left: 10px; 
    font-size: 20px;
   
  }
  .tweet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  
  .postButton {
    height: 50px;
    width: 200px;
    border: none;
    background-color:#1d9bf0;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px; 
    outline: none; 
    font-weight: bolder;
    font-size: 15px;
  }
  
  .postButton:hover {
    background-color: darkblue; 
  }
  .item {
    display: flex;
    align-items: center;
    border-radius: 25px;
  }
  .item:hover {
    background-color: rgb(36, 34, 34);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  
  .user {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 25px;
  }

  .user:hover {
    background-color: rgb(36, 34, 34);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  .circularpicture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20%;
  }
  
  .circularpicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .username {
    margin-left: 10px;
    flex: 1;
    color: white;
    font-size: 16px;
    font-weight: 15px;
    white-space: nowrap; 
    overflow: hidden; 
  }
  
  
  .logout {
    margin-right: 50px;
    position: relative;
    border-radius: 50%;
  }
  
  .logout.sign {
    color: white;
    cursor: pointer;
    font-size: 10px;
    height: 50px;
    width: 50px;

  }
  
